.square {
    width: 100px;
    height: 100px;
    background-color: #73dab2;
}

.flex {
    margin: 10px;
}

.flexOne {
    display: flex;
    flex-direction: row;
}
.flexOne > .square {
    margin: 5px;
}

.flexTwo {
    display: flex;
    flex-direction: column;
}
.flexTwo > .square {
    margin: 2px;
}

.flexThree {
    display: flex;
    flex-direction: row-reverse;
}
.flexThree > .square {
    margin: 2px;
}

.flexFour {
    display: flex;
    width: 350px;
    flex-wrap: wrap;
}
.flexFour > .square {
    margin: 5px;
    background-color: #3d8b6d;
}

.flexFive {
    display: flex;
    width: 350px;
}
.flexFive > .item {
    margin: 2px;
    background-color: #0b6643;
    width: 100px;
    height: 100px;
}
#grow {
    flex-grow: 2;
}

.flexSix {
    height: 400px;
    width: 500px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
}
.flexSix > .one {
    display: flex;
    justify-content: space-around;
}
.flexSix > .two {
    display: flex;
    justify-content: space-between;
    background-color: #d6d6d6;
}
.flexSix > .three {
    display: flex;
    justify-content: space-evenly;
}

.flexSeven {
    height: 400px;
    width: 500px;
    display: flex;
    justify-content: space-between;
}
.flexSeven > .one {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flexSeven > .two {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.flexSeven > .three {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.flexSeven > .four {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flexEight {
    height: 300px;
    width: 400px;
    background-color: #eeeeee;
    display: flex;
}
.flexEight > .one {
    display: flex;
    align-items: center;
}
.flexEight > .two {
    display: flex;
    align-items: flex-end;
}
.flexEight > .three {
    display: flex;
    align-items: flex-start;
}

.flexNine {
    height: 250px;
    width: 450px;
    background-color: #eeeeee;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}
#special {
    align-self: flex-end;
}